{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">Our Services</h2>
<div class="row">
  <div class="col-md-4"><div class="card p-3"><h5>Personal Training</h5><p>Customized workout plans with certified trainers.</p></div></div>
  <div class="col-md-4"><div class="card p-3"><h5>Cardio & Strength</h5><p>Modern machines and weights for all fitness levels.</p></div></div>
  <div class="col-md-4"><div class="card p-3"><h5>Nutrition Coaching</h5><p>Personalized diet advice for optimal results.</p></div></div>
</div>
{% endblock %}
